<% wrap_layout :layout do %>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>REVEAL: <%= page_title %></h1>
      </section>

      <!--slides -->
    </div>
  </div>
<% end %>
